.wrapper-pagination{
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    width: 70%;
    margin: auto;
    justify-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 6px 12px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #36304a;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
